#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.my-custom-scrollbar {
    position: relative;
    width: 240px;
    height: 400px;
    overflow: auto;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
}

.inputText {
    font-size: 14px;
    width: 200px;
    height: 35px;
}

.floating-label {
    position: fixed;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
}

#sticky-sidebar {
    position: fixed;
    max-width: 30%;
}