.mybtn {
    display: inline-block;
}

.h2 {
    display: flex;
    align-items: center;
}

.fa-pen {
    float: right;
    display: inline-block;
    font-size: 0.75rem;
}

.a {
    overflow: hidden;
    margin-left: auto;
}

.mydiv {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
#sticky-sidebar {
position:fixed;
max-width: 20%;
}
